@model IEnumerable<Bastion.Models.Images.Image>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Create
        </th>
        <th>
            Create Image
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actions.Create.AverageTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actions.CreateImage.AverageTime)
        </td>
    </tr>
}

</table>
